<h1 class="heading"><span>acerca</span> de</h1>

<div class="row">
  <div class="video-container">
    <video
      src="../../../assets/images/about-vid.mp4"
      muted
      autoplay
      loop
    ></video>
    <h3>gran diseñador de logos</h3>
  </div>

  <div class="content">
    <h3>¿por qué elegirnos?</h3>
    <p>
      En nuestra empresa, nos enorgullecemos de ser expertos en la creación de
      la imagen perfecta para tu negocio o emprendimiento, ofreciendo soluciones
      tanto virtuales como presenciales que se ajusten a tus necesidades
      específicas. Nuestro equipo de profesionales altamente capacitados está
      comprometido con la excelencia en cada proyecto, fusionando creatividad y
      estrategia para garantizar resultados impactantes.
    </p>
    <p>
      Al elegirnos, te beneficiarás de nuestra amplia experiencia y trayectoria
      en el mercado, respaldada por un historial comprobado de éxitos en la
      construcción de marcas sólidas y reconocidas. Nos destacamos por nuestra
      atención personalizada, trabajando estrechamente contigo para entender tus
      objetivos, audiencia y valores comerciales. Nuestro enfoque integral nos
      permite abordar cada aspecto de la identidad visual de tu empresa, desde
      el diseño de logotipos, tarjetas de presentación y material publicitario
      hasta la creación de una presencia en línea coherente y atractiva. Ya sea
      que necesites mejorar una imagen existente o crear una desde cero, estamos
      aquí para llevar tu marca al siguiente nivel y asegurarnos de que dejes
      una impresión duradera en el mercado.
    </p>
    <a
      [routerLink]=""
      (click)="saberMas()"
      routerLinkActive="router-link-active"
      class="btn"
      >saber más</a
    >
  </div>
</div>
