<h1 class="heading">ultimos <span>productos</span></h1>

<div class="box-container">
  <div class="box" *ngFor="let product of products; let i = index">
    <span class="discount">-{{ product.descuento }}%</span>
    <div class="image">
      <img [src]="product.img!" [alt]="product.nombre" />
      <ul [ngClass]="{ iconsList: true }">
        <li></li>
        <li
          title="Ver Detalles"
          (click)="getDetails(product._id)"
          class="cart-btn"
        >
          Detalles
          <fa-icon [icon]="faEye"></fa-icon>
        </li>
        <li></li>
      </ul>
    </div>
    <div class="content">
      <h3>{{ product.nombre }}</h3>
      <!-- <div class="price">
        <span>
          Precio original:
          {{ product.precio | currency : "$" : "symbol" : "4.0-0" }}
        </span>
        <br />
        <p>Precio con descuento:</p>
        {{ getTotalDescuento(product) | currency : "$" : "symbol" : "4.0-0" }}
      </div> -->
    </div>
  </div>
</div>
